[submodule "themes/anubis"]
	path = themes/anubis
	url = git@github.com:Mitrichius/hugo-theme-anubis.git
[submodule "public"]
	path = public
	url = git@github.com:heathharrelson/heathharrelson.github.io.git
	branch = master
